body{
  background-color: rgba(178, 250, 226, 0.911);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: 60px;
  color: black;
  font-family:'Rubik Doodle Triangles';
  -webkit-text-stroke: 0.5px rgb(253, 136, 5);
  padding-bottom: 70px;
}
